@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.animation {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ffcc;
  }

  to {
    text-shadow: 0 0 30px #00ffaa, 0 0 60px #00ffcc;
  }
}

.nav-buttons {
  padding: 14px 40px;
  background-color: transparent;
  border: 2px solid #00ffcc;
  color: #00ffcc;
  width: 150px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-buttons:hover {
  background-color: #00ffcc;
  color: #000;
  transform: scale(1.05);
}

.main-bg {
  background-image: url(../public/main-1.png);
  background-size: cover;
  background-position: 100%;
  height: 25vW;
  min-height: 300px;
  max-height: 500px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 0;
  margin: auto;
  overflow: hidden;
}
span{
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 18px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: .8em;
  line-height: 1.5em;
}
li{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}
h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}